
.app {
  padding: 20px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  gap: 10px;
}

.actions{
  display: flex;
  gap: 5px;
}